@import url('calc-output__equation.css');
@import url('calc-output__inpit.css');

.calc-output {
    font-family: 'Digital-Numbers';
    letter-spacing: -5px;
    height: 120px;
    margin-bottom: 50px;
    padding: 10px 15px;
    box-sizing: border-box;
    text-align: end;
    background-color: rgba(217, 217, 217, 1);
    border: 3px solid rgb(161, 161, 161);
    border-radius: 7px;
    box-shadow: 6px 4px 0px 0px rgb(101, 101, 101) inset;
}