@import url('header__title.css');

.header {
    margin: 40px auto;
    text-align: center;
}

@media screen and (max-width: 480px) {
    .header {
        margin-top: 95px;
        margin-bottom: 20px;
    }
}