.footer__text {
    display: none;
}

.block-task:hover .footer__text {
    display: block;
    animation: fadeIn 2s;
}

.block-name:hover .footer__text {
    display: block;
    animation: fadeIn 2s;
}