.footer__block {
    font-size: 20px;
    width: 100px;
    height: inherit;
    padding: 0 20px;
    position: absolute;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(182, 182, 182, 0.29);
    transition: background-color 1s;
}

.footer__block:hover {
    background-color: rgba(218, 116, 6, 0.644);
}