.calc-input__element {
    z-index: 1;
    font-family: inherit;
    font-size: inherit;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(217, 217, 217, 1);
    border: none;
    border-radius: 5px;
    box-shadow: -4px -4px 0px 0px rgba(141, 141, 141, 0.299) inset;
}

.calc-input__element:active{
    padding-left: 5px;
    padding-top: 5px;
    background-color: rgb(201, 201, 201);
    box-shadow: 4px 4px 0px 0px rgba(138, 138, 138, 0.8) inset, -1px -1px 0px 0px rgba(138, 138, 138, 0.8) inset;
}