.side-columns__hover {
    color: rgba(182, 182, 182, 1);
}

.block-task:hover .side-columns__hover {
    display: none;
}

.block-name:hover .side-columns__hover {
    display: none;
    animation: fadeOut 2s;
}