.side-columns__text {
    display: none;
}

.block-task:hover .side-columns__text {
    display: block;
    animation: fadeIn 2s;
}

.block-name:hover .side-columns__text {
    display: block;
    animation: fadeIn 2s;
}